@import "../css/typography.css";

body {
    margin: 0;
    font-family: "Nunito", georgia, serif;
}
p {
    font-family: "Nunito", georgia, serif;
}

.gold {
    background-color : #F4BC00;
    color            : white;
    border           : none;
}

.apiImage {
    max-width: 100%;
}


.slick-slide div {
    margin: 0 10px;
}
.load {
    text-align: center;
}